.border{
    border: 2px solid red;
    margin: 3px;
}

.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.item-center{
    align-items: center;
}

.bg-black{
    background-color: black;
    color: white;
}

.invert{
    filter: invert(1);
}

.bg-hash{
    background-color: #121212;
    color: white;
}

.rounded{
    border-radius: 7px;
}

.m-1{
    margin: 5px;
}

.p-1{
    padding: 10px;
}

.gradient-background{
    background: linear-gradient(to bottom, #1f1f1f,#000000);
}

/* For WebKit-based browsers */
/* Track */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #555; /* Color of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #777; /* Color of the scrollbar handle on hover */
}

/* Track */
::-webkit-scrollbar-track {
    background: #333; /* Color of the scrollbar track */
}
